/*Begin*/

a:link,
a:hover {
	color:#000000; 
	text-decoration:none;
}

.color{
  color:black;
}

body {
  background-image:url("/static/images/sun.jpg");
  background-size: 100%;
  text-align: center;
}

body {  
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.form {
  position: relative;
  top:-10px; 
  padding-top:250px; 
  background-color:rgba(211,211,211,0.6); 
}

.signup-text2 {
  position: relative;
  left:155px;
  top:10px; 
  font-size: 16px;
  text-decoration:underline;
  color:#87ceeb;
}

.signin-text2 {
  position: relative;
  left:300px;
  bottom:20px;
}

.home-text {
  position: relative;
  right:500px;
  top:10px; 
  font-size: 20px;
  color: #87ceeb;
}

.form-postion {
  font-family:cursive;
  position: relative;
  bottom: 200px;
}

.bottom-text {
	position: relative;
	top:-200px;
	color:#1e90ff;
	font-size: 16px;
}