<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Husky Porn</title>
  <link rel="stylesheet" href="/static/stylesheets/index.css">
</head>
<body>
  {% if request.user.is_authenticated %}
    <h1>Hello! {{ request.user }}</h1>
    <a href="/accounts/profile">See your profile</a><br />
    <a href="/accounts/signout">sign out</a>
  {% else %}
    <a href="/accounts/signup">Sign up</a><br />
    <a href="/accounts/signin">Sign in</a>
  {% endif %}
</body>
</html>
