<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="/static/css/postcover.css" rel="stylesheet">
  </head>

  <body>
    <div class="husky_mooc-text">
      <a class="top-text1" href="/index">Husky_mooc</a>
      <p class="top-p">PPT</p>
      <a class="top-text2" href="/accounts/profile">個人資料</a>
      <a class="top-text3" >發文</a>
      <a class="top-text4" href="/accounts/signout">登出</a>
    </div>
    <div class="box">
  	  <strong> 
  	    <a href="//www.slideshare.net/h3sean/3-lies-about-your-age" title="The Three Lies About your Age" target="_blank">The Three Lies About your Age</a> 
  	  </strong> from <strong><a href="//www.slideshare.net/h3sean" target="_blank">Sean Si</a></strong>
  	  <div class="" id="postApp"></div>
      <script src="/static/js/dist/postForm.js"></script> 
  	</div>
  	  
  	    <iframe src="//www.slideshare.net/slideshow/embed_code/key/zhcqz9MY0Capqp?startSlide=8" 
  	    class="ppt" width="600" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"  allowfullscreen></iframe> 
  	  
  </body>
</html>
