<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link href="/static/css/signupcover.css" rel="stylesheet">
</head>
<body>
  <div>
      <a class="home-text" href="/index">Husky_mooc</a>
      <a class="signup-text">Sign in</a>
      <nav class="signin-text">
        <button type="button" class="btn btn-primary" ><a class="color" href="/accounts/signin">Sign up</a></button> 
      </nav>
  </div>
  
  <div class="form">
  	<div class="form-postion" id="signupApp"></div>
      <a class="bottom-text" href="/accounts/signin">Have accounts? login!!</a>
      <script src="/static/js/dist/signupForm.js"></script>
  </div>
</body>
</html>
